.vs/algotest/xs/UserPrefs.xml
.vs/algotest/xs/project-cache/algotest.api-Debug.json
.vs/algotest/xs/project-cache/algotest.core-Debug.json
.vs/algotest/xs/project-cache/algotest.nunit-Debug.json
algotest.api/bin/Debug/net5.0/algotest.api.deps.json
algotest.api/bin/Debug/net5.0/algotest.api.dll
algotest.api/bin/Debug/net5.0/algotest.api.pdb
algotest.api/bin/Debug/net5.0/algotest.api.runtimeconfig.dev.json
algotest.api/bin/Debug/net5.0/algotest.api.runtimeconfig.json
algotest.api/bin/Debug/net5.0/algotest.core.dll
algotest.api/bin/Debug/net5.0/algotest.core.pdb
algotest.api/bin/Debug/net5.0/appsettings.Development.json
algotest.api/bin/Debug/net5.0/appsettings.json
algotest.api/bin/Debug/net5.0/Dapper.dll
algotest.api/bin/Debug/net5.0/Dapper.SimpleCRUD.dll
algotest.api/bin/Debug/net5.0/Microsoft.IdentityModel.JsonWebTokens.dll
algotest.api/bin/Debug/net5.0/Microsoft.IdentityModel.Logging.dll
algotest.api/bin/Debug/net5.0/Microsoft.IdentityModel.Tokens.dll
algotest.api/bin/Debug/net5.0/Microsoft.OpenApi.dll
algotest.api/bin/Debug/net5.0/Npgsql.dll
algotest.api/bin/Debug/net5.0/Swashbuckle.AspNetCore.Swagger.dll
algotest.api/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerGen.dll
algotest.api/bin/Debug/net5.0/Swashbuckle.AspNetCore.SwaggerUI.dll
algotest.api/bin/Debug/net5.0/System.IdentityModel.Tokens.Jwt.dll
algotest.api/bin/Debug/net5.0/System.Runtime.CompilerServices.Unsafe.dll
algotest.api/bin/Debug/net5.0/ref/algotest.api.dll
algotest.api/obj/algotest.api.csproj.nuget.dgspec.json
algotest.api/obj/algotest.api.csproj.nuget.g.props
algotest.api/obj/algotest.api.csproj.nuget.g.targets
algotest.api/obj/project.assets.json
algotest.api/obj/project.nuget.cache
algotest.api/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
algotest.api/obj/Debug/net5.0/algotest.api.AssemblyInfo.cs
algotest.api/obj/Debug/net5.0/algotest.api.AssemblyInfoInputs.cache
algotest.api/obj/Debug/net5.0/algotest.api.assets.cache
algotest.api/obj/Debug/net5.0/algotest.api.csproj.AssemblyReference.cache
algotest.api/obj/Debug/net5.0/algotest.api.csproj.CopyComplete
algotest.api/obj/Debug/net5.0/algotest.api.csproj.CoreCompileInputs.cache
algotest.api/obj/Debug/net5.0/algotest.api.csproj.FileListAbsolute.txt
algotest.api/obj/Debug/net5.0/algotest.api.csprojAssemblyReference.cache
algotest.api/obj/Debug/net5.0/algotest.api.dll
algotest.api/obj/Debug/net5.0/algotest.api.GeneratedMSBuildEditorConfig.editorconfig
algotest.api/obj/Debug/net5.0/algotest.api.genruntimeconfig.cache
algotest.api/obj/Debug/net5.0/algotest.api.MvcApplicationPartsAssemblyInfo.cache
algotest.api/obj/Debug/net5.0/algotest.api.MvcApplicationPartsAssemblyInfo.cs
algotest.api/obj/Debug/net5.0/algotest.api.pdb
algotest.api/obj/Debug/net5.0/algotest.api.RazorTargetAssemblyInfo.cache
algotest.api/obj/Debug/net5.0/project.razor.json
algotest.api/obj/Debug/net5.0/ref/algotest.api.dll
algotest.api/obj/Debug/net5.0/staticwebassets/algotest.api.StaticWebAssets.Manifest.cache
algotest.api/obj/Debug/net5.0/staticwebassets/algotest.api.StaticWebAssets.xml
algotest.core/bin/Debug/net5.0/algotest.core.deps.json
algotest.core/bin/Debug/net5.0/algotest.core.dll
algotest.core/bin/Debug/net5.0/algotest.core.pdb
algotest.core/bin/Debug/net5.0/ref/algotest.core.dll
algotest.core/obj/algotest.core.csproj.nuget.dgspec.json
algotest.core/obj/algotest.core.csproj.nuget.g.props
algotest.core/obj/algotest.core.csproj.nuget.g.targets
algotest.core/obj/project.assets.json
algotest.core/obj/project.nuget.cache
algotest.core/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
algotest.core/obj/Debug/net5.0/algotest.core.AssemblyInfo.cs
algotest.core/obj/Debug/net5.0/algotest.core.AssemblyInfoInputs.cache
algotest.core/obj/Debug/net5.0/algotest.core.assets.cache
algotest.core/obj/Debug/net5.0/algotest.core.csproj.AssemblyReference.cache
algotest.core/obj/Debug/net5.0/algotest.core.csproj.CoreCompileInputs.cache
algotest.core/obj/Debug/net5.0/algotest.core.csproj.FileListAbsolute.txt
algotest.core/obj/Debug/net5.0/algotest.core.csprojAssemblyReference.cache
algotest.core/obj/Debug/net5.0/algotest.core.dll
algotest.core/obj/Debug/net5.0/algotest.core.GeneratedMSBuildEditorConfig.editorconfig
algotest.core/obj/Debug/net5.0/algotest.core.pdb
algotest.core/obj/Debug/net5.0/ref/algotest.core.dll
